@model Player_mgt_system.Models.Trophy

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        Trophy Details
    </div>
    <div class="card-body">
        <div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrophyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrophyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
    </dl>
</div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrophyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
